:root {
  --pink: #f14e95;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
}
/* Keyframes for animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

/* Hero section styling */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/dildes1.jpg);
  z-index: -1;
  filter: brightness(0.7);
  background-size: cover;
  background-position: center;
  animation: fadeIn 2s ease-in-out;
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
  animation: slideInUp 1.5s ease-in-out;
}

.hero h1 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-size: 6rem;
}

.hero h4 {
  font-size: 1.6rem;
  animation-delay: 0.5s;
}

.hero p {
  font-size: 1.4rem;
  animation-delay: 1s;
}

.hero a {
  color: var(--pink);
  background-color: white;
  box-shadow: var(--shadow);
  transition: background-color 0.3s ease, color 0.3s ease;
  animation: pulse 2s infinite;
  animation-delay: 1.5s;
}

.hero a:hover {
  background-color: var(--pink);
  color: white;
  box-shadow: var(--shadow);
}

.mynav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Ganti warna latar belakang offcanvas */
.offcanvas-body {
  background-color: transparent; /* Sesuaikan dengan warna latar belakang */
}

.mynav .amin {
  font-size: x-small;
}

.mynav .offcanvas {
  height: 100vh;
  width: 40%;
}

.mynav .navbar-brand,
.mynav .offcanvas-title {
  font-family: "Tangerine", cursive;
  font-size: 3.2rem;
  font-weight: 700;
}

.mynav .nav-link {
  text-transform: uppercase;
}

.home {
  background-image: url(img/bg.png);
  background-size: cover;
  min-height: 100vh;
  margin-top: -6.5rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--pink);
  font-family: "Tangerine", cursive;
  font-size: 5rem;
  font-weight: bold;
}

.home h3 {
  color: #444;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home p {
  color: #666;
  font-size: 1.1rem;
}

.home .couple {
  margin-top: 100px;
}

.home .couple h3 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--pink);
}

.home .couple img {
  width: 100%;
}

.home .hati {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
  color: var(--pink);
}
.home .hati{
  z-index: 1;
}
.home .hati i {
  margin: auto;
}

.couple img {
  animation: scaleUp 1s ease-in-out;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

.couple img:hover {
  transform: scale(1.05);
}

.info {
  background-color: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}

.info .alamat {
  font-size: 1.1rem;
}

.info,
description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}

.info .card-header {
  border-bottom: 1px solid #999;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.story,
.gallery,
.rsvp,
.gifts {
  padding-top: 10rem;
  padding-bottom: 8rem;
}
.story span,
.gallery span,
.gifts span{
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.story p,
.gallery p,
.rsvp p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
}

.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1px;
  background-color: #ccc;
  left: 50%;
}

.timeline li {
  margin-bottom: 1.5rem;
  position: relative;
}

.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}
.timeline li .timeline-image {
  width: 160px;
  height: 160px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid #ccc;
  padding: 2rem;
  position: relative;
  border-radius: 10px;
  background-color: white;
}

.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 60px;
  right: -15px;
}
.timeline li .timeline-panel::after {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 61px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}
.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gallery {
  background-color: rgb(255, 243, 245);
}

.rsvp{
  background-color: var(--bg) ;
}
/* .rsvp h2{
  font-size: 4.5rem;
} */
.rsvp p{
  color: white;
  font-size: 1.1rem;
  margin-bottom: 5rem;
}
.rsvp  label{
  color: white;
  font-weight:400;
}
.rsvp button{
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);

}
.rsvp button:hover{
  background-color:white ;
  color: var(--pink);
  border: 1px solid white;
}

footer {
padding: 3rem;
background-color: var(--pink);
color: white;
}

footer a {
text-decoration: none;
color: var(--bg);
font-weight: bold;
font-style: italic;
}

footer a:hover{
  color: whitesmoke;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.icon-audio{
  width: 3.5rem;
  font-size: 3.5rem;
  height: 3.5rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  mix-blend-mode:difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
.status-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.status-box div {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 0 5px;
}

.status-hadir {
  background-color: #4CAF50;
  color: white;
}

.status-tidak-hadir {
  background-color: #E57373;
  color: white;
}

.status-ragu {
  background-color: #ffc107;
  color: white;
}

.messages {
  margin-top: 20px;
}

.message {
  border-bottom: 2px solid var(--pink);
  padding: 10px 0;
  color: #fff;
}

.message span {
  display: block;
  color: rgb(255, 255, 255);
}

.message strong {
  color: var(--pink);
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~ M E D I A   Q U E R Y ~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Extra Large */
@media (max-width: 1200px) {
  .home .hati {
    transform: translateX(-50%) translateY(45px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 50px;
  }

  .home .hati {
    display: none;
  }

  .timeline::before {
    left: 60px;
  }
  .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }
  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }
  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 5px;
  }

  .mynav .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }
}

/* mobile phone */
@media (max-width: 576px) {
  html {
    font-size: 55%;
  }
  .offcanvas {
    width: 10%;
  }

  .offcanvas-body {
    font-size: 0.8rem;
  }

  .simply-countdown > .simply-section {
    padding: 35px;
    margin: 3px;
  }
  .timeline li .timeline-image {
    width: 80px;
    height: 80px;
  }
  .timeline li .timeline-panel {
    width: 65%;
    transform: translateX(-20px);
  }
  .timeline li .timeline-panel::before {
    top: 30px;
  }

  .timeline li .timeline-panel::after {
    top: 31px;
  }
}
